/3DViewer_BASE/BaseProject.vcxproj.user
/3DViewer_BASE/.vs
/3DViewer_BASE/x64
/Study_01_BASE/x64
/Study_01_BASE/BaseProject.exe
/Study_01_BASE/BaseProject.vcxproj.user
/Study_01_BASE/Log.txt
/Study_01_BASE/.vs
